# По умолчанию исключить всё из контекста сборки
*

# Оставить только серверную часть
!server/
!server/**

# Не передавать результаты локальной сборки .NET
server/**/bin/
server/**/obj/

# Не передавать служебные файлы IDE и macOS
server/**/.idea/
server/**/.DS_Store